.article-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 0;
}

.article-container__title {
  font-size: 40px;
  line-height: 40px;
}

.article-container__title--active {
  color: $secondary-color;
}

.article-container__creationDate {
  font-size: 24px;
  line-height: 24px;
  color: $inactive-color;
}

.articles__divider {
  border-left: 2px solid $inactive-color;
  padding-right: 2rem;
}

.article-display-container {
  display: flex;
  flex-direction: row;
  height: 22.6875rem;
}

@include media(extra-small) {
  .article-container {
    height: 15rem;
    padding: 1rem 0 0 0;
  }

  .article-container__title {
    font-size: 26px;
    line-height: 26px;
  }

  .article-display-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .articles__divider {
    padding-bottom: 1rem;
    border-left: none;
    border-bottom: 2px solid $inactive-color;
  }
}
