.blog-news {
  grid-area: blog-news;
  font-size: 64px;
  font-family: $font-family-medium;
  line-height: 64px;
  padding-top: 2rem;
}

.blog-news__text {
  width: 90%;
}

.blog-news__link {
  color: $secondary-color;
}

.blog-news__articles {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
}

@include media(extra-small) {
  .blog-news {
    font-size: 32px;
    line-height: 32px;
  }

  .blog-news__text {
    width: 100%;
  }

  .blog-news__articles {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
