.contact-container {
  grid-area: contact;
  padding-top: 5rem;
  font-size: 64px;
  width: 100%;
  font-family: $font-family-medium;
  line-height: 64px;
  color: $primary-color;

  & p:nth-child(1) {
    padding-bottom: 3rem;
  }

  & a {
    color: $secondary-color;
    word-break: break-all;
  }
}

.whitespace {
  padding-bottom: 6rem;
}

@include for-phone-only {
  .contact-container {
    padding-top: 4rem;
    font-size: 32px;
    line-height: 32px;

    & p:nth-child(1) {
      padding-bottom: 2rem;
    }
  }
}
