.gallery-container {
  grid-area: gallery;
  padding-top: 2%;
  position: relative;
  min-height: 800px;

  .gallery-container__image:nth-of-type(1) {
    left: 1%;
  }

  .gallery-container__image:nth-of-type(2) {
    top: 19%;
    right: 0%;
  }

  .gallery-container__image:nth-of-type(3) {
    top: 50%;
    right: 30%;
  }
}

.gallery-container__image {
  width: 100%;
  max-width: 600px;
  height: auto;
  position: absolute;
}

@include for-phone-only {
  .gallery-container {
    padding: 0;

    .gallery-container__image:nth-of-type(1) {
      left: 0%;
    }

    .gallery-container__image:nth-of-type(2) {
      top: 0%;
      right: 0%;
    }

    .gallery-container__image:nth-of-type(3) {
      top: 0%;
      right: 0%;
    }
  }

  .gallery-container__image {
    position: relative;
  }
}

@include for-tablet-portrait-only {
  .gallery-container {
    padding: 0;

    .gallery-container__image:nth-of-type(1) {
      left: 0%;
    }

    .gallery-container__image:nth-of-type(2) {
      top: 0%;
      right: 0%;
    }

    .gallery-container__image:nth-of-type(3) {
      top: 0%;
      right: 0%;
    }
  }

  .gallery-container__image {
    position: relative;
    max-width: 100%;
  }
}
