.gallery-container {
  grid-area: gallery;
  padding-top: 3rem;
  margin-bottom: 5rem;
  position: relative;
  height: 62.5rem;
  z-index: 1;

  .gallery-container__image:nth-of-type(1) {
    left: 1%;
  }

  .gallery-container__image:nth-of-type(2) {
    top: 19%;
    right: 0%;
  }

  .gallery-container__image:nth-of-type(3) {
    top: 50%;
    right: 30%;
  }
}

.gallery-container__image {
  width: 100%;
  max-width: 600px;
  height: auto;
  position: absolute !important;
  padding: 0 0 0.5rem 0;
}

@include for-phone-only {
  .gallery-container {
    padding: 3rem 0 0 0;
    height: auto;
    margin-bottom: 0;

    .gallery-container__image:nth-of-type(1) {
      left: 0%;
    }

    .gallery-container__image:nth-of-type(2) {
      top: 0%;
      right: 0%;
    }

    .gallery-container__image:nth-of-type(3) {
      top: 0%;
      right: 0%;
    }
  }

  .gallery-container__image {
    position: relative !important;
  }
}

@include for-big-desktop-down-except-mobile {
  .gallery-container {
    height: auto;
    margin-bottom: 0;
    padding: 3rem 0 0 0;
    display: flex;

    .gallery-container__image:nth-of-type(1) {
      left: 0%;
    }

    .gallery-container__image:nth-of-type(2) {
      top: 0%;
      right: 0%;
    }

    .gallery-container__image:nth-of-type(3) {
      top: 0%;
      right: 0%;
    }
  }

  .gallery-container__image {
    position: relative !important;
    min-width: 0;
  }
}
