.navbar {
  display: flex;
  flex-direction: column;
  font-family: $font-family-medium;
  grid-area: nav;
  list-style: none;
  font-size: 18px;
  margin: 0;
  position: fixed;
  z-index: 9999;

  & a {
    color: $primary-color;
    padding: 0.1rem 0 0;
  }

  & button {
    background: none !important;
    border: none;
    color: $primary-color;
  }

  &__link {
    &--active {
      color: $secondary-color !important;
    }

    &--separated {
      padding-top: 15px;
      color: $secondary-color !important;
    }

    &--separated-extra {
      padding-top: 30px;
    }

    &--external {
      padding: 0 1rem 0 0;
      width: 18px;
      height: 15px;
    }

    &--mobile {
      width: 100%;
      display: block;
      padding: 0 0 0.5rem 0 !important;
      line-height: 30px;
      text-align: center;
    }
  }

  &-links-container {
    background-color: $background-color;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    left: 0;
    display: none;

    &--isOpen {
      display: flex;
    }
  }

  &--desktop {
    display: flex;
    flex-direction: column;
    padding-top: 4.5rem;
  }

  &--mobile {
    height: 5rem;
    background-color: $background-color;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    padding-top: 0;
    display: none;

    & svg {
      width: 32px;
      height: 32px;
    }
  }

  &-stretch {
    display: flex;
    flex-direction: row;
    padding-right: 11%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

@mixin navbar-mobile-tablet {
  .navbar {
    &--desktop {
      display: none !important;
    }

    &--mobile {
      display: block;
    }
  }
}

@include for-tablet-portrait-only {
  @include navbar-mobile-tablet();
}

@include for-tablet-landscape-until-desktop {
  @include navbar-mobile-tablet();
}

@include for-phone-only {
  @include navbar-mobile-tablet();
}
