.project-container {
  display: flex;
  flex-direction: row-reverse;
}

.project-container__image {
  width: 80%;
  height: auto;
  max-width: 600px;
}

.project-container__project {
  padding-top: 2rem;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  font-family: $font-family-medium;
  justify-content: center;
  width: 50%;

  & a {
    padding-top: 1.5rem;
    color: $primary-color;
    line-height: 24px;
    font-size: 18px;
  }
}

.project-container__name {
  color: $primary-color;
  padding-bottom: 1rem;
}

.project-container__skills {
  color: $inactive-color;
}

@include for-phone-only {
  .project-container {
    display: block;
  }

  .project-container__project {
    width: 100%;
  }

  .project-container__image {
    width: 100%;
  }
}
