.projects-container {
  grid-area: projects;
  padding-top: 5rem;
}

.projects-container__text {
  padding-bottom: 4rem;
  font-size: 64px;
  font-family: $font-family-medium;
  line-height: 64px;

  &--isSecondaryColor {
    color: $secondary-color;
  }
}

@include for-phone-only {
  .projects-container {
    padding-top: 3rem;
  }
  .projects-container__text {
    padding-bottom: 2rem;
    line-height: 32px;
    font-size: 32px;
  }
}
