@import "./variables";

.logo {
  grid-area: logo;
  font-family: $font-family-medium;
}

.logo__title {
  font-size: 26px;
}

.logo__subtitle {
  color: $secondary-color;
  font-size: 26px;
}
