$black: #0b0b0e;
$blue: #009bff;
$white: #ffffff;
$grey: #707070;
$inter-medium: "Inter Medium";
$inter-regular: "Inter Regular";

$background-color: $black;
$primary-color: $white;
$secondary-color: $blue;
$inactive-color: $grey;
$font-family-medium: $inter-medium;
$font-family-regular: $inter-regular;

@font-face {
  font-family: "Inter Regular";
  src: url(../assets/fonts/Inter-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Inter Medium";
  src: url(../assets/fonts/Inter-Medium.otf) format("opentype");
}

@mixin for-phone-only {
  @media (max-width: 667px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 736px) {
    @content;
  }
}
@mixin for-tablet-portrait-only {
  @media (min-width: 736px) and (max-width: 1366px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1366px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin for-big-desktop-down-except-mobile {
  @media (min-width: 667px) and (max-width: 1800px) {
    @content;
  }
}
