$black: #0b0b0e;
$blue: #009bff;
$white: #ffffff;
$grey: #707070;
$inter-medium: "Inter Medium";
$inter-regular: "Inter Regular";
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1440px;

$background-color: $black;
$primary-color: $white;
$secondary-color: $blue;
$inactive-color: $grey;
$font-family-medium: $inter-medium;
$font-family-regular: $inter-regular;

@font-face {
  font-family: "Inter Regular";
  src: url(../assets/fonts/Inter-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Inter Medium";
  src: url(../assets/fonts/Inter-Medium.otf) format("opentype");
}

@mixin media($media) {
  @if $media == extra-small {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $media == small {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $media == medium {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $media == large {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}
