@import "./variables";
@import "./navbar";

@font-face {
  font-family: "Inter Regular";
  src: url(../assets/fonts/Inter-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Inter Medium";
  src: url(../assets/fonts/Inter-Medium.otf) format("opentype");
}

html {
  background-color: $background-color;
  color: $primary-color;
}

.layout {
  margin: 0 auto;
  padding: 3rem 4rem 3rem 4rem;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "nav content";
}

.content {
  grid-area: content;
  padding-top: 10vh;
}
