@import "./variables";

.logo {
  grid-area: logo;
  padding-top: 2rem;
}

@include for-phone-only {
  .logo {
    padding-bottom: 0;
  }
}

@include for-desktop-up {
  .logo {
    padding-bottom: 3.2rem;
  }
}
