@import "./variables";

.logo {
  grid-area: logo;
  width: 128px;
  height: 64px;
}

@include for-phone-only {
  .logo {
    height: 48px;
    width: 100px;
    padding-bottom: 0;
  }
}

@include for-desktop-up {
  .logo {
    padding-bottom: 3.2rem;
  }
}
