@import "./variables";

.navbar {
  display: flex;
  flex-direction: column;
  font-family: $font-family-medium;
  grid-area: nav;
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 3rem 0 0 0;

  &__link--active {
    color: $secondary-color;
  }

  &__link--separated {
    padding-top: 15px;
  }

  &__link--separated-extra {
    padding-top: 30px;
  }

  &__link--external {
    padding: 0 1rem 0 0;
    width: 18px;
    height: 15px;
  }

  &--mobile {
    width: 32px;
    height: 32px;
    display: none;
  }
}

@include for-tablet-portrait-only {
  .navbar {
    flex-direction: row-reverse;
    padding: 0;

    &--desktop {
      display: none !important;
    }

    &--mobile {
      display: flex;
      padding-right: 1rem;
    }
  }
}

@include for-phone-only {
  .navbar {
    flex-direction: row-reverse;
    padding: 0;

    &--desktop {
      display: none !important;
    }

    &--mobile {
      display: flex;
    }
  }
}
