@import "./variables";

.navbar {
  display: flex;
  flex-direction: column;
  font-family: $font-family-medium;
  grid-area: nav;
  list-style: none;
  font-size: 18px;
  margin: 0;

  @include media(extra-small) {
    flex-direction: row-reverse;
    &--desktop {
      display: none !important;
    }
    padding: 0;
  }

  padding: 3rem 0 0 0;
  &__link--active {
    color: $secondary-color;
  }

  &__link--separated {
    padding-top: 15px;
  }

  &__link--separated-extra {
    padding-top: 30px;
  }

  &__link--external {
    padding: 0 1rem 0 0;
    width: 18px;
    height: 15px;
  }

  &--mobile {
    width: 32px;
    height: 32px;
    padding: 0;
    @include media(large) {
      display: none !important;
    }

    @include media(medium) {
      display: none !important;
    }

    @include media(small) {
      display: none !important;
    }
  }
}
